<footer>
    <p id="banner-scoala">Acesta este un proiect școlar!</p>
    <address>
        Ne găsești oricând la:<br>
        Telefon: <a href="tel:+40700123456">0700 123 456</a><br>
        Locație magazin:<br>
        <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83,+Bucure%C8%99ti" target="_blank">
            Strada Podului, <br>
            nr. 67
        </a><br>
        E-mail: <a href="mailto:contact@vinyllium.ro">contact@vinyllium.ro</a><i class="fa-solid fa-envelope"></i><br>
        <a href="https://wa.me/40700123456" target="_blank">Scrie-ne pe WhatsApp</a>
    </address>
    <a href="#" id="link-top">
        <div class="triunghi"></div>
    </a>
    <p><small>Copyright © <time datetime="2026-03-02">2 martie 2026</time> Bălan Mihai</small></p>
</footer>