<header>
    <h1>Vinyllium - Magazin de Vinyl-uri</h1>
    <a href="/resurse/imagini/sigla.png" title="Vezi sigla mărită">
        <img src="/resurse/imagini/sigla.png" alt="Sigla magazinului Vinyllium" />
    </a>

    <nav>
        <ul class="meniu">
    
    <li>
        <a href="/">
            <i class="fas fa-home"></i> 
            <span class="text-opt">Acasă</span>
        </a>
    </li>
    
    <li>
        <a href="/despre">
            <i class="fas fa-info-circle"></i> 
            <span class="text-opt">Despre Noi</span>
        </a>
    </li>
    
    <li>
        <a href="/">
            <i class="fas fa-list-alt"></i> 
            <span class="text-opt">Secțiuni Acasă</span>
        </a>
        <ul class="submeniu">
            <li><a href="#welcome">Bine ați venit</a></li>
            <li><a href="#promotii">Promoții</a></li>
            <li><a href="#anunturi">Anunțuri</a></li>
            <li><a href="#orar">Orar Magazin</a></li>
            <li><a href="#index-intrebari">Întrebări</a></li>
        </ul>
    </li>
    
    <li>
        <a href="#">
            <i class="fas fa-compact-disc"></i> 
            <span class="text-opt">Produse</span>
        </a>
        <ul class="submeniu">
            <li><a href="/rock.html">Colecția Rock</a></li>
            <li><a href="/jazz.html">Colecția Jazz</a></li>
            <li><a href="/electronica.html">Electro</a></li>
            <li><a href="/echipamente.html">Aparate Pick-up</a></li>
        </ul>
    </li>

    <li>
        <a href="/contact.html">
            <i class="fas fa-envelope"></i> 
            <span class="text-opt">Contact</span>
        </a>
    </li>

</ul>
    </nav>
</header>